<div class="form-page">
  <div class="breadcrumb">
    <%= link_to "Projects", projects_path %> /
    <%= link_to @project.name, project_path(@project) %> /
    Edit Task
  </div>

  <h1>Edit Task: <%= @task.title %></h1>
  <%= render "form", project: @project, task: @task %>
</div>
