<div class="form-page">
  <div class="breadcrumb">
    <%= link_to "Projects", projects_path %> /
    <%= link_to @project.name, project_path(@project) %> /
    New Task
  </div>

  <h1>Add New Task to <%= @project.name %></h1>
  <%= render "form", project: @project, task: @task %>
</div>
